<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Default Max Temp') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="number" data-bind="value: settings.plugins.filamentstorage.maxT">
        </div>
        <label class="control-label">{{ _('Default Max Humidity') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="number" min="0" max="100" data-bind="value: settings.plugins.filamentstorage.maxH">
        </div>
        <label class="control-label">{{ _('Pause on High Humidity') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="checkbox" data-bind="checked: settings.plugins.filamentstorage.humidityPause">
        </div><br/>
        <label class="control-label">{{ _('Humidity Warn Percentage') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="number" min="1" max="100" data-bind="value: settings.plugins.filamentstorage.humidityWarnPercentage">
        </div><br/><br/>
        <label class="control-label">{{ _('Humidity Pause Percentage') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="number" min="1" max="100" data-bind="value: settings.plugins.filamentstorage.humidityPausePercentage">
        </div><br/><br/>
        <label class="control-label">{{ _('Pause on Extrusion Mixmatch') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="checkbox" data-bind="checked: settings.plugins.filamentstorage.extrusionMismatchPause">
        </div><br/><br/>
        <label class="control-label">{{ _('Maximum Extrusion Mixmatch (mm)') }}</label>
        <div class="controls">
            <input class="storage-box-input" type="number" min="1" max="1000" data-bind="value: settings.plugins.filamentstorage.extrusionMismatchMax">
        </div>
    </div>
</form>
